<head>
    <meta charset="UTF-8">
    <title>ScholarLinkBF</title>
</head>

<h2 class="mb-4">Liste des Bourses</h2>

<div class="row">

    <!-- Bourse 1 -->
    <div class="col-md-4 mb-3">
        <div class="card shadow">
            <div class="card-body">
                <h5 class="card-title">Bourse d'études en Informatique</h5>
                <p class="card-text">
                    Bourse pour les étudiants en licence ou master en informatique.
                </p>
                <p><strong>Pays :</strong> France</p>
                <p><strong>Date limite :</strong> 30/08/2026</p>

                <a href="/candidater/bourse/{{ b.id}}" class="btn btn-primary">
                    Postuler
                </a>
            </div>
        </div>
    </div>

    <!-- Bourse 2 -->
    <div class="col-md-4 mb-3">
        <div class="card shadow">
            <div class="card-body">
                <h5 class="card-title">Bourse Erasmus+</h5>
                <p class="card-text">
                    Programme d'échange universitaire en Europe.
                </p>
                <p><strong>Pays :</strong> Europe</p>
                <p><strong>Date limite :</strong> 15/09/2026</p>

                <a href="/candidater/bourse/2" class="btn btn-primary">
                    Postuler
                </a>
            </div>
        </div>
    </div>

</div>

