<head>
    <meta charset="UTF-8">
    <title>ScholarLinkBF</title>
</head>

<h2>Déposer une candidature</h2>

<h2>Mes candidatures</h2>


<form method="POST" enctype="multipart/form-data">

    <div class="card p-3 mb-2">
        <label>CV (PDF)</label>
        <input type="file"
               name="cv"
               class="form-control">
    </div>

    <div class="mb-3">
        <label>Lettre de motivation (PDF)</label>
        <input type="file"
               name="lettre de motivation"
               class="form-control"


        <textarea
            name="lettre"
            rows="5"
            class="form-control">
        </textarea>
    </div>

    <button class="btn btn-primary">
        Envoyer
    </button>

</form>

