<head>
    <meta charset="UTF-8">
    <title>ScholarLinkBF</title>
</head>

<div class="text-center p-5 bg-light rounded">

    <h1 class="display-4">
        Bienvenue sur ScholarLinkBF
    </h1>

    <p class="lead">
        Plateforme de gestions des opportunités des bourses et de stages</p>

    <a href="/bourses" class="btn btn-primary btn-lg m-2">
        Voir les Bourses
    </a>

    <a href="/stages" class="btn btn-success btn-lg m-2">
        Voir les Stages
    </a>

</div>

<br>

<div class="row">

    <div class="col-md-4">
        <div class="card shadow">
            <div class="card-body text-center">
                <h3>150+</h3>
                <p>Bourses disponibles</p>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="card shadow">
            <div class="card-body text-center">
                <h3>80+</h3>
                <p>Stages disponibles</p>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="card shadow">
            <div class="card-body text-center">
                <h3>500+</h3>
                <p>Candidatures enregistrées</p>
            </div>
        </div>
    </div>

</div>

<br>

<div class="text-center">

    <a href="/candidatures" class="btn btn-info btn-lg">
        Mes Candidatures
    </a>

</div>
